# Dependências
node_modules/
package-lock.json

# Variáveis de ambiente
.env

# Logs
logs/
*.log
npm-debug.log*

# Arquivos de sistema
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Testes
coverage/
.nyc_output/

# Build
dist/
build/
